// VARIABLES

$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;
$color-blanco: rgb(245, 245, 245);

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

// ANIDACIÓN

.cajadestacada {
    background-color: red;

    header {
        background-color: black;
        color: #fff;  

        a {
            color: #ff6;
        }
    }
}

// & SE REFIERE AL ELEMENTO PADRE

a.dinamico {
    color: red;
    &:hover {
        background-color: #ff6;
    }
}

// & SE SUSTITUIRÍA POR EL NOMBRE DEL ELEMENTO PADRE

.form {
    margin: 10px;
    padding: 15px;
    &--black {
        color: #fff;
        background-color: #000;
    }
    &__submit {
        color: red;
        &--desactivado {
            color: #999;
        }
    }
}

// SE PUEDEN ANIDAR PROPIEDADES QUE COMPARTEN LA MISMA RAIZ

h2 {
    color: #666;
    font: {
        family: verdana;
        weight: bold;
        size: 0.9em;
    }
}