// IMPORTS

@import 'variables';
@import 'fonts';


// ANIDACIÓN

.cajadestacada {
    background-color: red;

    header {
        background-color: black;
        color: #fff;  

        a {
            color: #ff6;
        }
    }
}


// & SE REFIERE AL ELEMENTO PADRE

a.dinamico {
    color: red;
    &:hover {
        background-color: #ff6;
    }
}

// & SE SUSTITUIRÍA POR EL NOMBRE DEL ELEMENTO PADRE

.form {
    margin: 10px;
    padding: 15px;
    &--black {
        color: #fff;
        background-color: #000;
    }
    &__submit {
        color: red;
        &--desactivado {
            color: #999;
        }
    }
}

// SE PUEDEN ANIDAR PROPIEDADES QUE COMPARTEN LA MISMA RAIZ

h2 {
    color: #666;
    font: {
        family: verdana;
        weight: bold;
        size: 0.9em;
    }
}

// DECLARACIÓN MIXIN

@mixin color-invertido {
    background-color: #111;
    color: #eee;
}

// INVOCACIÓN DE UN MIXIN

h1.invertido {
    font-size: 1.3em;
    padding: 15px;
    @include color-invertido;
}

// DECLARACIÓN MIXIN CON PARÁMETROS

@mixin transformar($propiedad) {
    -webkit-transform: $propiedad;
    -ms-transform: $propiedad;
    transform: $propiedad;
}

@mixin encabezados($tamano) {
    h1 {
      font-size: $tamano;
    }
    h2 {
      font-size: $tamano - 0.2;
    }
    h3 {
      font-size: $tamano - 0.5;
    }
}

// INVOCACIÓN DE UN MIXIN CON PARÁMETROS

.escalada {
    @include transformar(scale(2,3));
}

.contenedor_encabezados {
    @include encabezados(2rem)
}

// HERENCIA

// Este código no se verá en la hoja procesada a no ser que se llame
// desde algún sitio

%heading {
    background-color: blanchedalmond;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

// DIRECTIVA @extend

h1 {
    @extend %heading;
    font-size:2em;
}
